/* couleurs du site */
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;

/* fonts */

$Shrikhand: #{"'Shrikhand', cursive"};      /* Logo et titres */
$Roboto: #{"Roboto", sans-serif};     /* Texte */

